[submodule "vim/vim.symlink/bundle/align"]
	path = vim/vim.symlink/bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "vim/vim.symlink/bundle/coffee-script"]
	path = vim/vim.symlink/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/delimitmate"]
	path = vim/vim.symlink/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/haml"]
	path = vim/vim.symlink/bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/vim.symlink/bundle/repeat"]
	path = vim/vim.symlink/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/gundo"]
	path = vim/vim.symlink/bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "vim/vim.symlink/bundle/git"]
	path = vim/vim.symlink/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vim.symlink/bundle/html"]
	path = vim/vim.symlink/bundle/html
	url = https://github.com/tudorprodan/html_annoyance.vim.git
[submodule "vim/vim.symlink/bundle/tcomment"]
	path = vim/vim.symlink/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/jade"]
	path = vim/vim.symlink/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/vim.symlink/bundle/stylus"]
	path = vim/vim.symlink/bundle/stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "vim/vim.symlink/bundle/handlebars"]
	path = vim/vim.symlink/bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vim/vim.symlink/bundle/indentobject"]
	path = vim/vim.symlink/bundle/indentobject
	url = https://github.com/austintaylor/vim-indentobject.git
[submodule "vim/vim.symlink/bundle/matchit"]
	path = vim/vim.symlink/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/vim.symlink/bundle/vim-tmux-navigator"]
	path = vim/vim.symlink/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/vim.symlink/bundle/exchange"]
	path = vim/vim.symlink/bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/vim.symlink/bundle/dispatch"]
	path = vim/vim.symlink/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim.symlink/bundle/clojure"]
	path = vim/vim.symlink/bundle/clojure
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/vim.symlink/bundle/classpath"]
	path = vim/vim.symlink/bundle/classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "vim/vim.symlink/bundle/fireplace"]
	path = vim/vim.symlink/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/vim.symlink/bundle/ultisnipts"]
	path = vim/vim.symlink/bundle/ultisnipts
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim.symlink/bundle/abolish"]
	path = vim/vim.symlink/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim.symlink/bundle/vinegar"]
	path = vim/vim.symlink/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/vim.symlink/bundle/vim-sexp"]
	path = vim/vim.symlink/bundle/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "vim/vim.symlink/bundle/vim-sexp-mappings-for-regular-people"]
	path = vim/vim.symlink/bundle/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "vim/vim.symlink/bundle/elixir"]
	path = vim/vim.symlink/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/vim.symlink/bundle/rust"]
	path = vim/vim.symlink/bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule "vim/vim.symlink/bundle/javascript"]
	path = vim/vim.symlink/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/less"]
	path = vim/vim.symlink/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/bundle/jsx"]
	path = vim/vim.symlink/bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/vim.symlink/bundle/quick-scope"]
	path = vim/vim.symlink/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule "vim/vim.symlink/bundle/elm"]
	path = vim/vim.symlink/bundle/elm
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "vim/vim.symlink/bundle/split-join"]
	path = vim/vim.symlink/bundle/split-join
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
