[submodule "vim/vim.symlink/bundle/ack"]
	path = vim/vim.symlink/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/align"]
	path = vim/vim.symlink/bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "vim/vim.symlink/bundle/coffee-script"]
	path = vim/vim.symlink/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/solarized"]
	path = vim/vim.symlink/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
